*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

#cabecalho {
    background-color: #000; 
    color: #fff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

#cabecalho ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

#cabecalho ul li {
    text-decoration: none;
    color: white;
   
}

#cabecalho ul li:hover {
    color: red;
    cursor: pointer; 
    text-decoration: none;
}

.menu-btn {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

/* ------------------------------ */
#apresentacao {
    max-width: 800px;        
    margin: 40px auto;       
    background: #ffffff;      
    padding: 30px;           
    border-radius: 12px;      
    box-shadow: 0 0 20px rgba(0,0,0,0.2); 
}

#apresentacao h1, 
#apresentacao h2,
#apresentacao h3,
#apresentacao p {
    margin-bottom: 12px;
}

#apresentacao ul {
    padding-left: 20px;
    margin-bottom: 20px;
}


#apresentacao ul li {
    margin-bottom: 8px;
    padding: 8px 12px;
    background: #f5f5f5;
    border-radius: 8px;
    border-left: 4px solid gray; 
    transition: 0.3s;
}


#apresentacao ul li:hover {
    background: #ffecec;
    transform: translateX(4px);
}


#trajetoria {
    max-width: 800px;           
    margin: 40px auto;          
    background: #ffffff;        
    padding: 30px;              
    border-radius: 12px;        
    box-shadow: 0 0 20px rgba(0,0,0,0.2); 
}

#trajetoria h2,
#trajetoria p,
#trajetoria ul {
    margin-bottom: 16px;
}

#trajetoria ul {
    padding-left: 20px;
}

#trajetoria ul li {
    margin-bottom: 8px;
    padding: 8px 12px;
    background: #f5f5f5;
    border-radius: 8px;
    border-left: 4px solid gray; 
    transition: 0.3s;
}


#trajetoria ul li:hover {
    background: #ffecec;
    transform: translateX(4px);
}


#evolucao {
    max-width: 800px;           
    margin: 40px auto;          
    background: #ffffff;        
    padding: 30px;              
    border-radius: 12px;        
    box-shadow: 0 0 20px rgba(0,0,0,0.2); 
}

#evolucao h1,
#evolucao h2,
#evolucao p,
#evolucao ul {
    margin-bottom: 16px;
}

#evolucao ul {
    padding-left: 20px;
}

#evolucao ul li {
    margin-bottom: 8px;
    padding: 8px 12px;
    background: #f5f5f5;
    border-radius: 8px;
    border-left: 4px solid gray; 
    transition: 0.3s;
}


#evolucao ul li:hover {
    background: #ffecec;
    transform: translateX(4px);
}

@media (max-width: 768px) {

   
    .menu-btn {
        display: block;
    }

  
    #cabecalho {
        padding: 15px 20px;
    }

    #cabecalho ul {
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background-color: #000;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
        display: none;
        border-top: 1px solid #333;
    }

    #menu-toggle:checked + ul {
        display: flex;
    }

    #cabecalho ul li {
        font-size: 22px;
        padding: 10px 0;
    }

    #apresentacao,
    #trajetoria,
    #evolucao {
        max-width: 95%;
        margin: 20px auto;
        padding: 20px;
        border-radius: 10px;
    }

    
    #apresentacao h1,
    #apresentacao h2,
    #apresentacao h3,
    #trajetoria h1,
    #trajetoria h2,
    #evolucao h1,
    #evolucao h2 {
        font-size: 22px;
        text-align: center;
    }


    #apresentacao p,
    #trajetoria p,
    #evolucao p {
        font-size: 16px;
        line-height: 1.5;
        text-align: justify;
    }

    
    #apresentacao ul li,
    #trajetoria ul li,
    #evolucao ul li {
        font-size: 16px;
        padding: 10px 12px;
        margin-bottom: 10px;
    }

    #apresentacao ul li:hover,
    #trajetoria ul li:hover,
    #evolucao ul li:hover {
        transform: translateX(2px);
    }
}
