*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

#cabecalho {
    background-color: #000; 
    color: #fff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

#cabecalho ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

#cabecalho ul li {
    text-decoration: none;
    color: white;
   
}

#cabecalho ul li:hover {
    color: red;
    cursor: pointer; 
    text-decoration: none;
}

/* ------------------------------ */
#apresentacao {
    max-width: 800px;        
    margin: 40px auto;       
    background: #ffffff;      
    padding: 30px;           
    border-radius: 12px;      
    box-shadow: 0 0 20px rgba(0,0,0,0.2); 
}

#apresentacao h1, 
#apresentacao h2,
#apresentacao h3,
#apresentacao p {
    margin-bottom: 12px;
}

#apresentacao ul {
    padding-left: 20px;
    margin-bottom: 20px;
}


#apresentacao ul li {
    margin-bottom: 8px;
    padding: 8px 12px;
    background: #f5f5f5;
    border-radius: 8px;
    border-left: 4px solid gray; 
    transition: 0.3s;
}


#apresentacao ul li:hover {
    background: #ffecec;
    transform: translateX(4px);
}


#trajetoria {
    max-width: 800px;           
    margin: 40px auto;          
    background: #ffffff;        
    padding: 30px;              
    border-radius: 12px;        
    box-shadow: 0 0 20px rgba(0,0,0,0.2); 
}

#trajetoria h2,
#trajetoria p,
#trajetoria ul {
    margin-bottom: 16px;
}

#trajetoria ul {
    padding-left: 20px;
}

#trajetoria ul li {
    margin-bottom: 8px;
    padding: 8px 12px;
    background: #f5f5f5;
    border-radius: 8px;
    border-left: 4px solid gray; 
    transition: 0.3s;
}


#trajetoria ul li:hover {
    background: #ffecec;
    transform: translateX(4px);
}


#evolucao {
    max-width: 800px;           
    margin: 40px auto;          
    background: #ffffff;        
    padding: 30px;              
    border-radius: 12px;        
    box-shadow: 0 0 20px rgba(0,0,0,0.2); 
}

#evolucao h1,
#evolucao h2,
#evolucao p,
#evolucao ul {
    margin-bottom: 16px;
}

#evolucao ul {
    padding-left: 20px;
}

#evolucao ul li {
    margin-bottom: 8px;
    padding: 8px 12px;
    background: #f5f5f5;
    border-radius: 8px;
    border-left: 4px solid gray; 
    transition: 0.3s;
}

/* Efeito hover */
#evolucao ul li:hover {
    background: #ffecec;
    transform: translateX(4px);
}
