*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

#cabecalho {
    background-color: #000; 
    color: #fff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

#cabecalho ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

#cabecalho ul li {
    text-decoration: none;
    color: white;
   
}

#cabecalho ul li:hover {
    color: red;
    cursor: pointer; 
    text-decoration: none;
}


